@import '_config.styl'

fs(size, parent = false)
	if font_percent
		if !parent
			return unit(size / default_font_size * 100, '%')
		else
			return unit(size / parent * 100, '%')
	else
		return unit(size, 'px')

cf()
	clearfix()

wb()
	word-wrap break-word
	white-space normal
	display block

pcp(w)
	return w/pc_width*100%;
spp(w)
	return w/break*100%;
pp(w)
	return w*100%
p(w)
	return spp(w)

pc()
	@media screen and (min-width: unit(medium+1, 'px'))
		{block}

med()
	@media screen and (min-width: unit(break+1, 'px')) and (max-width: unit(medium, 'px'))
		{block}

sp()
	@media screen and (max-width: unit(break, 'px'))
		{block}


center()
	margin-left auto
	margin-right auto