extends _layout/default

block var
    - page = "top"
    - body_class = ""
    
block css

block js_before
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMzhKoC7L-idGshG4EHQVHP664TnXU-6M&callback=initMap" async defer></script>
block js_after

block contents
    <div id="map_custmomize" style="width:100%;height:640px;"></div>
