- var img = data.path.img

- var page = ""
- var body_class = ""

block var

doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        title!= data.meta.default.title
        meta(name="description" content!=data.meta.default.description)

        - for(var key in data.meta.default.og) {
            - if (key !== "app_id" && data.meta.default.og[key]) {
                meta(property="og:"+key content=data.meta.default.og[key])
            - } else if (key === "app_id" && data.meta.default.og[key]) {
                meta(property="fb:app_id" content=data.meta.default.og.app_id)
            - }
        - }
        - for(var key in data.meta.default.twitter) {
            - if (data.meta.default.twitter[key]) {
                meta(property="twitter:"+key content=data.meta.default.twitter[key])
            - }
        - }
        link(rel="shortcut icon" href=data.meta.default.favicon)

        block css

    body(class=body_class+" page-"+page)
        #l-wrapper
            #l-contents
                block contents

        block js_before
        script(src="app.js")
        block js_after
